$color-black: #000000;
$color-white: #ffffff;
$color-alto: #dedede;
$color-blue: #2400ff;
$color-burning-orange: #ff752c;

$color-info: #2196f3;
$color-success: #31b56b;
$color-warning: #f0ab00;
$color-error: #bd2536;
