@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-regular.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-bold.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-light.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
