html,
body {
    font-family: 'PP Radio Grotesk';
    width: 100%;
    overflow-x: clip;
    -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
svg {
    fill: currentColor;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
}
.max-width-container {
    width: 100%;
    max-width: (1650px + 80px);
    margin: 0 auto;
    padding: 40px 20px;
    @media (min-width: 768px) {
        padding: 40px;
    }
}
img {
    width: 100%;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin-top: 0;
}
