html,
body {
    font-family: 'PP Radio Grotesk';
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
svg {
    fill: currentColor;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
}
.max-width-container {
    width: 100%;
    max-width: (1650px + 80px);
    margin: 0 auto;
    padding: 40px 20px;
    @media (min-width: 768px) {
        padding: 40px;
    }
}
section {
    overflow: hidden;
    min-height: 100vh;
}
img {
    width: 100%;
    max-width: 100%;
}
p {
    margin-top: 0;
}
