html,
body {
    font-family: 'PP Radio Grotesk';
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
svg {
    fill: currentColor;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
}
.max-width-container {
    max-width: (1650px + 80px);
    margin: 0 auto;
    padding: 20px;
    @media (min-width: 768px) {
        padding: 40px;
    }
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &:nth-child(even) {
        background: grey;
    }
}
