html,
body {
    overflow-x: hidden;
    font-family: 'PP Radio Grotesk';
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.max-width-container {
    max-width: (1650px + 80px);
    margin: 0 auto;
    padding: 40px;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &:nth-child(even) {
        background: grey;
    }
}
