@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-regular-webfont.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-bold-webfont.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('@/assets/fonts/ppradiogrotesk-light-webfont.woff2') format('woff2'),
        url('@/assets/fonts/ppradiogrotesk-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
