.Vue-Toastification__container {
    .Vue-Toastification__toast {
        padding: 12px 16px;
        @media (min-width: 768px) {
            width: 320px;
            border-radius: 5px;
        }
        &.Vue-Toastification__toast--default,
        &.Vue-Toastification__toast--info {
            background-color: $color-info;
        }
        &.Vue-Toastification__toast--success {
            background-color: $color-success;
        }
        &.Vue-Toastification__toast--warning {
            background-color: $color-warning;
        }
        &.Vue-Toastification__toast--error {
            background-color: $color-error;
        }
    }
    .Vue-Toastification__toast-body {
        line-height: 1.25;
    }
    .Vue-Toastification__close-button {
        opacity: 0.6;
    }
}
